body{background-color: rgb(241, 185, 120);
    height: 2000px;
   ;
}

.c{
  background-color: #ff0000;
}

.T{text-align: center;}


#fondo{
  background-image: url(/assets/fondo.png);
}

.img{
  animation: fadeIn 3s ease;

}

@keyframes fadeIn{
  0% { 
    opacity: 0;
    filter: blur(20px) ;
  }
10%{
  opacity:1 ;
  filter: brightness(2) blur(10px);
}
}



.img1 {
    top: 450px; 
    left: 5px;
    margin: 20px auto;

}
    
.img {
    background-color: #ff0000;
    position: relative;
    width: 600px;
    padding-left: 15px;
    padding-right: 15px;
    clear: both; 
    font-family: 'Times New Roman';
    font-size: 25px;
    word-wrap: break-word;
    border: 2px solid black;
    line-height: 1.5;
    margin-bottom: 250px;
}


.img:nth-child(odd) {
    float: left;
    margin-left: 30px;
    margin-top: 300px;
}


.img:nth-child(even) {
    float: right;
    margin-right: 30px;
    margin-top: 300px;
}


#s{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.boton{
    position: absolute;
    bottom: -250px;
    text-align: center;
}

button {
    padding: 15px 25px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    background-color: #ff0000;
    color: rgb(11, 11, 11);
    border-radius: 5px;
    cursor: pointer;
    font-family: sans-serif;
}

.boton {
  position: absolute;
  bottom: -250px;
  text-align: center;
}

button {
    padding: 15px 25px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    background-color: #ff0000;
    color: rgb(11, 11, 11);
    border-radius: 5px;
    cursor: pointer;
    font-family: sans-serif;
    text-decoration: none;
}

.boton button:hover {
  background-color: #ff0000;
  box-shadow: 0 0 50px #ff0000, 0 0 25px #ff0000, 0 0 50px #ff0000,0 0 100px #ff0000, 0 0 300px #ff0000;
}



.body {
    margin: 0;
    padding: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* marco de las lineas */
  .container {
    width: 100%;
    max-width: 1200px;
    height: 120px;
    overflow: hidden;
  }
  
  /* Estilo del SVG */
  .ecg{
    width: 100%;
    opacity: 1;
    stroke-dasharray: 600;
    animation: ecg 1.5s linear forwards infinite,
               fade 1.5s linear infinite;
  }
  @keyframes ecg{
    to {
      stroke-dashoffset: -1200;
    }
  }
  @keyframes fade{
    0% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
  }
  
  /* Animación de los latidos*/
  .linea {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: latido 3.5s infinite linear;
  }
  
  

 
  /* Texto */
  .text-overlay {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    animation: fadeIn 3s ease-in-out;
  }
  
 
  
  /* Animación del Texto */
  @keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
  }

 #T1 {
    font-size: 4rem;
    color: #ff0000;
    text-shadow: 0 0 15px #ff0000;
  }

  #T2{  font-size: 60px;
    color: #141313;
    text-align: center;
     }

#T3{
  margin-top: 3000px;
  font-size: 30px;
}